"Player 1: <%=@game.player1.name%>, Player 2: <%=@game.player2.name%>"<br>

<p><%=@game.player1.name%>: <%=@game.player1.hitpoints%>/20HP</p>
<p><%=@game.player2.name%>: <%=@game.player2.hitpoints%>/20HP</p>


<p><%=@game.whos_attacking.name%>'s go!</p>

<form action="/attack" method="get">
  <input type="submit" value="Attack">
</form>

<form action="/paralyse" method="get">
  <input type="submit" value="Paralyse">
</form>
